datacenter = "dc1"
data_dir = "/opt/consul"
encrypt = "{{consulkey}}"
verify_incoming = true
verify_outgoing = true
verify_server_hostname = true

ca_file = "/etc/consul.d/certs/consul-agent-ca.pem"
cert_file = "/etc/consul.d/certs/dc1-server-consul-{{ansible_hostname}}.pem"
key_file = "/etc/consul.d/certs/dc1-server-consul-{{ansible_hostname}}-key.pem"

server = true
bootstrap_expect = 3
bind_addr = "{% raw %}{{ GetInterfaceIP \"eth1\" }}{% endraw %}"
client_addr = "127.0.0.1 {{nomad_host_svc_ip}}"

unix_sockets = {
  mode = "777"
}

retry_join = [{% for host in groups['cluster'] if not ansible_hostname == hostvars[host]['ansible_hostname'] %}"{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}" {{ ", " if not loop.last else "" }}{% endfor %}]

acl = {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true
  tokens = {
    agent = "{{ consultokens[ansible_hostname] }}"
  }
}

auto_encrypt {
  allow_tls = true
}
