datacenter = "dc1"
data_dir = "/opt/nomad"
plugin_dir = "/usr/lib/nomad/plugins"

advertise {
  # Defaults to the first private IP address.
  http = "{{ansible_eth1['ipv4']['address']}}"
  rpc  = "{{ansible_eth1['ipv4']['address']}}"
  serf = "{{ansible_eth1['ipv4']['address']}}"
}

server {
  enabled = true
  bootstrap_expect = 3
}

client {
  enabled = true
  node_class = "{{nomad_class}}"

  meta {
    loc = "alexhome"
  }
}


