datacenter = "dc1"
data_dir = "/opt/nomad"
plugin_dir = "/usr/lib/nomad/plugins"

advertise {
  # Defaults to the first private IP address.
  http = "{{ansible_eth1['ipv4']['address']}}"
  rpc  = "{{ansible_eth1['ipv4']['address']}}"
  serf = "{{ansible_eth1['ipv4']['address']}}"
}

server {
  enabled = true
  bootstrap_expect = 3
}

client {
  enabled = true
  node_class = "{{nomad_class}}"
  host_network "public" {
    cidr = "192.168.56.0/24"
    reserved_ports = "22,80"
  }
  bridge_network_subnet = "{{nomad_subnet}}" 
  meta {
    loc = "alexhome"
    hostsvcaddr = "{{nomad_host_svc_ip}}"
  }
}

plugin "docker" {
  config {
    volumes {
      enabled      = true
    }
    allow_caps = ["net_raw", "net_broadcast", "net_admin", "audit_write", "chown", "dac_override", "fowner", "fsetid", "kill", "mknod", "net_bind_service", "setfcap", "setgid", "setpcap", "setuid", "sys_chroot"]
  }
}
